<h1>Bienvenido/a a Café Don Julio</h1>
<hr>
<h1>Iniciar sesión</h1>
<form action="/sessions/login" method="post">

    Email: <input type="text" name="email"><br>
    Contraseña: <input type="text" name="password"><br>
    <input type="submit" value="Iniciar sesión">
</form>
<div>
    <h2>Crear una cuenta</h2>
    <button onclick="location.href='/sessions/register'">Registrate acá</button>
</div>