<h1>Iniciar sesi칩n</h1>
<form action="/sessions/login" method="post">

    Email: <input type="text" name="email"><br>
    Contrase침a: <input type="text" name="password"><br>
    <input type="submit" value="Iniciar sesi칩n">
</form>
<div>
    <h2>Crear una cuenta</h2>
    <button onclick="location.href='/sessions/register'">Registrate ac치</button>
</div>