<h1>Iniciar sesión</h1>
<form action="/sessions/login" method="post">

    Email: <input type="text" name="email"><br>
    Contraseña: <input type="text" name="password"><br>
    <input type="submit" value="Iniciar sesión">


</form>