<!-- product.handlebars -->
<h1>Productos</h1>
<ul>

    {{#each products}}
    <div class="card"
        style="width: 15rem; display: inline-block; margin-right: 10px; margin-bottom: 10px;vertical-align: top; border: 1px solid #ccc; text-align: center;">
        <h3 class="card-title">{{this.title}}</h3>
        <img style="width: 10rem; height: 10rem; object-fit: cover;" src="${prod.thumbnail}" class="card-img-top"
            alt="...">
        <div class="card-body">
            <p class="card-text">Propietario/a: {{this.owner}}.<br>Código: {{this.code}}.<br>

                <button onClick="eliminarProducto('${prod._id}')">Eliminar producto</button>
                <button onClick="addProdInCart('${prod._id}')">Comprar producto</button>
        </div>
    </div>

    {{/each}}


</ul>