<div id="userName"></div>
<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>
<button onclick="location.href='/chat/realtimechat'">Ir al chat</button>
<hr>

<h2>HOLA USUARIO</h2>

<h2>Productos existentes:</h2>

<div id="productList">

</div>