<div id="userName"></div>
<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>
<button onclick="location.href='/chat/realtimechat'">Ir al chat</button>
<button onclick="location.href='/cart/realtimecart'">Ir al carrito</button>

<hr>


<h2>Productos existentes:</h2>

<div id="productList">

</div>