<div id="userName"></div>
<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>
<button onclick="location.href='/chat/realtimechat'">Ir al chat</button>
<button onclick="location.href='/cart/{{cartID}}'">Ir al carrito</button>
<button onclick="goToPremium()">Cambiar a PREMIUM</button>
<button onclick="location.href='/register/:id/documents'">Subir documento</button>

<hr>


<h2>Productos existentes:</h2>

<div id="productList">

</div>