<div id="userName"></div>
<hr>
<button onclick="location.href='/product/realtimeproductsUser'">Ir a productos</button>
<button onclick="location.href='/cart/realtimecart'">Ir al carrito</button>
<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>

<h2>Deje su mensaje</h2>
<form id="chatForm">
    <div>
        <label for="mail">Mail</label>
        <input type="text" name="mail">
    </div>
    <div>
        <label for="message">Mensaje</label>
        <input type="text" name="message">
    </div>
    <button type="submit">Enviar mensaje</button>
</form>

<h2>Mensajes del chat</h2>

<div id="chatList">



</div>