<h1>Bienvenido al Chat de Café Don Julio</h1>
<hr>

<div>Deje su mensaje</div>
<form id="chatForm">
    <div>
        <label for="mail">Mail</label>
        <input type="text" name="mail">
    </div>
    <div>
        <label for="mensaje">Mensaje</label>
        <input type="text" name="mensaje">
    </div>
    <button type="submit">Enviar mensaje</button>
</form>

<h2>Mensajes del chat</h2>

<div id="chatList">

</div>