<div id="userName"></div>

<button onclick="location.href='/product/realtimeproductsUser'">Ir a productos</button>
<button onclick="location.href='/chat/realtimechat'">Ir al chat</button>
<button onclick="location.href='/sessions/logout'">Cerrar sesión</button>
<button id="mostrarProds">Mostrar prods</button>

<hr>

<div id="idCart">

</div>

<button onclick="location.href='/sessions/logout'">Finalizar compra</button>