<h1>Generar nueva contraseña</h1>
<form action="/register/passwordRecovery/:id" method="post">

    Nueva contraseña: <input type="text" name="password"><br>
    <input type="submit" value="Crear">
</form>