<button onClick="location.href='/product/realtimeproductsUser'">Volver a productos USER</button>

<h1>Subir archivos</h1>
<form action="/register/:id/documents/identificacion" method="post" enctype="multipart/form-data">
    <h2>Cargar documentos requeridos para ser PREMIUM:</h2>
    Identificación: <input type="file" name="identificacion">
    <input type="submit" value="Cargar archivo" style="margin-top: 30px;">
</form>
<form action="/register/:id/documents/domicilio" method="post" enctype="multipart/form-data">
    Comprobante de domicilio: <input type="file" name="domicilio">
    <input type="submit" value="Cargar archivo" style="margin-top: 30px;">
</form><br>
<form action="/register/:id/documents/cuenta" method="post" enctype="multipart/form-data">
    Comprobante de estado de cuenta: <input type="file" name="estadoCuenta">
    <input type="submit" value="Cargar archivo" style="margin-top: 30px;">
</form><br>
<form action="/register/:id/profilePics" method="post" enctype="multipart/form-data">
    <h2>Cargar imágenes:</h2>
    Foto de perfil: <input type="file" name="profilePic">
    <input type="submit" value="Cargar archivo" style="margin-top: 30px;">
</form><br>
<form action="/register/:id/productPics" method="post" enctype="multipart/form-data">
    <h2>Cargar imágenes:</h2>
    Foto de producto: <input type="file" name="productPic">
    <input type="submit" value="Cargar archivo" style="margin-top: 30px;">
</form>